body {
     font-size: 15pt;
    }
    button{
     background: rgb(45, 194, 40);
     color:black;
     padding:10px;
     border-radius: 10px;
    }
    button:hover{
        background: rgb(172, 202, 170);
        color:black;
    }
    label{
     background:black;
     color:aliceblue;
    }
    input{
     background: blanchedalmond;
    }
    h1{
     background: skyblue;
    }
    .container{
     background: rgba(252,185,0,1);
    }